<!-- 
<form action="{% url 'UserAuth:doc_login' message %}" method="POST">
    {% csrf_token %}
    Password: <input type="password" name="password">
    Email: <input type="email" name="email">
    <input type="submit" name="submit">
</form> -->


{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V18</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="{% static 'UserAuth/signup/images/icons/favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'UserAuth/signup/vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'UserAuth/signup/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'UserAuth/signup/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'UserAuth/signup/vendor/animate/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'UserAuth/signup/vendor/css-hamburgers/hamburgers.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'UserAuth/signup/vendor/animsition/css/animsition.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'UserAuth/signup/vendor/select2/select2.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'UserAuth/signup/vendor/daterangepicker/daterangepicker.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'UserAuth/signup/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'UserAuth/signup/css/main.css' %}">
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="{% url 'UserAuth:doc_login' message %}" method="POST">
                        {% csrf_token %}
                    <span class="login100-form-title p-b-43">
                        {{message}}
                    </span>
                    <span class="login100-form-title p-b-43">
                    Doctor Login
                    </span>
                    

                        
                    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" required>
						<span class="focus-input100"></span>
						<span class="label-input100">Email</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="password" required>
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
                    </div>
                    

			

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Login
						</button>
					</div>
					
		
				</form>

				<div class="login100-more" style="background-image: url({% static 'UserAuth/signup/images/bg-01.jpg' %});">
				</div>
			</div>
		</div>
	</div>
	
	

	
	

	<script src="{% static 'UserAuth/signup/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'UserAuth/signup/vendor/animsition/js/animsition.min.js' %}"></script>
	<script src="{% static 'UserAuth/signup/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'UserAuth/signup/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'UserAuth/signup/vendor/select2/select2.min.js' %}"></script>
	<script src="{% static 'UserAuth/signup/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'UserAuth/signup/vendor/daterangepicker/daterangepicker.js' %}"></script> 
	<script src="{% static 'UserAuth/signup/vendor/countdowntime/countdowntime.js' %}"></script>
	<script src="{% static 'UserAuth/signup/js/main.js' %}"></script>

</body>
</html>